In [12]:
import pandas as pd

In [36]:
data = {
    'uid' : [0,1],
    'vendor' : ['vendor-1', 'vendor-2']
}

In [37]:
dataframe = pd.DataFrame(data)

In [38]:
dataframe

   uid    vendor
0    0  vendor-1
1    1  vendor-2

In [39]:
dataframe.to_csv('vendors.csv', index = False)

In [40]:
csv = pd.read_csv('vendors.csv')

In [51]:
last = csv.shape[0] - 1

1

In [41]:
csv

   uid    vendor
0    0  vendor-1
1    1  vendor-2